@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
}

.light-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.light-scrollbar::-webkit-scrollbar-track {
    background: #b3b0b0; /* Light gray track, matching the image */
    border-radius: 10px;
}

.light-scrollbar::-webkit-scrollbar-thumb {
    background: #858181; /* Darker gray thumb */
    border-radius: 10px;
}

.light-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker on hover */
}

.dark-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.dark-scrollbar::-webkit-scrollbar-track {
    background: #2d2f36; /* Darker track for dark mode */
    border-radius: 10px;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
    background: #666; /* Lighter gray thumb for contrast */
    border-radius: 10px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888; /* Lighter on hover */
}

.ql-container {
    height: auto !important;
}

.ql-editor {
    height: auto !important;
}